<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    
    <title>search the arXiv | donate</title>

    <link rel="icon" type="image/x-icon" href="static/favicon.png">
    <link rel= "stylesheet" type= "text/css" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="header">
      <a id="logo" href="/"><span class="black">search</span><span class="gray">the</span><span class="red">arXiv</span></a>
      <div id="right_header">
        <a class="header_link" href="about"><span class="black">about</span></a>
        <a class="header_link" href="donate"><span class="black">donate</span></a>
      </div>
    </div>
    <div id="container" style="margin-bottom:50px;">
      <p id="about_title" class="black">donate</p>
      <p class="about_text black">search the arXiv is a free, open-source, and one-man project. Hosting the site, running the embedding infrastructure and keeping the search index up to date costs money. If you find this tool useful, please consider making a donation to help keep it running 🖤</p>
      <p class="about_text black"><a href="https://buy.stripe.com/00g297avn0L27Ti000" target="_blank">Donate via Stripe</a></p>
    </div>
  </body>
</html>
